# compiled output
/client/dist
/tmp
/out-tsc
/i18n-serve
# dependencies
/node_modules
/client/node_modules
/package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
