# compiled output
/tmp
/out-tsc
/i18n-serve
# dependencies
/node_modules
/client/node_modules
/front-end/node_modules
/package-lock.json
/uploads/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
