<span class="back-to-collections" routerLink="../">Back to list</span><br>
<div class="title-input-wrapp glyphicon glyphicon-pencil">
  <input [(ngModel)]="collection.title" class="input-title" (change)="changeCollectionName()">
</div>

<div>
  <button type="button" class="btn btn-danger" (click)="deleteCollection()">Delete collection</button>
</div>
<div>
  <button type="button" class="btn btn-success" (click)="downloadArchive()">Download</button>
</div>

<div>
  <button type="button" class="btn btn-danger" (click)="deleteSelected()" [disabled]="!labelledToDeleteId.length">Delete selected</button>
</div>
<div class="images-container flex-default-wrapp" (click)="onContainerClick($event)">
  <div class="image-wrapper flex-center" *ngFor="let image of images">
    <span class="delete-button glyphicon glyphicon-trash" [attr.data-id]="image.id" [attr.data-button]="'trash'" *ngIf="!image.labelledToDeleteId; else elseBlock"></span>
    <ng-template #elseBlock>
      <span class="delete-button glyphicon glyphicon-share-alt" [attr.data-id]="image.id" [attr.data-button]="'trash'"></span>
    </ng-template>
    <span class="thumbnail-button glyphicon glyphicon-picture" [attr.data-id]="image.id" [attr.data-button]="'thumbnail'" *ngIf="!image.isThumbnail"></span>
    <img class="image" [src]="'http://localhost:8001/' + image.path" alt="{{image.title}}" routerLink="{{image.id}}">
    <div class="title-wrapp">
      <span class="title" [innerHtml]="image.title"></span>
    </div>
  </div>
</div>
<div class="add-new flex-center" routerLink="add-new">+</div>
<router-outlet></router-outlet>
