.back-to-collections {
  display: inline-block;
  padding: 10px;
}
.title-input-wrapp {
  position: relative;
  border: 1px solid transparent;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(50%, -50%, 0);
    color: #00BFFF;
    border: 1px solid #00BFFF;
    background-color: white;
    opacity: 0;
    transition: 0.25s;
    padding: 5px;
  }
  &:hover {
    border: 1px solid #00BFFF;
    &:before {
      opacity: 1;
    }
  }
}
.input-title {
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border: none;
  outline: none;
  font-family: sans-serif;
}
.image-wrapper {
  width: 300px;
  height: 169px;
  background: rgba(0, 0, 0, 0.1);
  margin: 15px auto 0;
  overflow: hidden;
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
}
.image {
  display: block;
  height: auto;
  width: 100%;
  cursor: pointer;
}
.title-wrapp {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.title {
  display: block;
  color: white;
  overflow: hidden;
  font-size: 18px;
  max-height: 50px;
  line-height: 25px;
}
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
}
.thumbnail-button {
  @extend .delete-button;
  right: auto;
  left: 5px;
}
