<span class="back-to-collections" routerLink="../">Back to list</span>
<h2 [innerHtml]="collection?.title"></h2>
<div class="images-container flex-default-wrapp">
  <div class="image-wrapper flex-center" *ngFor="let image of images">
    <img class="image" [src]="'http://localhost:8001/' + image.path" alt="{{image.title}}" routerLink="{{image.id}}">
    <div class="title-wrapp">
      <span class="title" [innerHtml]="image.title"></span>
    </div>
  </div>
</div>
<div class="add-new flex-center" routerLink="add-new">+</div>
<router-outlet></router-outlet>
