<app-modal-wrapper [emitter]="closeModal">
  <form class="mod-content-body" [formGroup]="addImageForm" (submit)="addImage()">
    <h4>Add new image</h4>
    <input type="text" formControlName="title" class="field-name">
    <input type="file" id="input_file_id" formControlName="image" class="hidden" requiredFile>
    <div class="margin">
      <label for="input_file_id" class="btn btn-default add-image">Add image</label>
    </div>
    <button type="submit" [disabled]="addImageForm.invalid" class="btn btn-success">Create</button>
  </form>
</app-modal-wrapper>
