.mod-content-body {
  padding: 20px;
  text-align: center;
  width: 300px;
}
.field-name {
  padding: 8px 10px;
  width: 100%;
}
.hidden {
  display: none;
}
.margin {
  margin: 15px 0;
}
.images-list-wrapper {
  max-height: 400px;
  overflow-y: auto;
}
.image-item-wrapp {
  display: flex;
  width: 100%;
  margin: 8px 0;
}
@media screen and (max-width: 500px){
  .mod-content-body {
    width: 100%;
  }
}
