<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li routerLink="login" routerLinkActive="active" *ngIf="showLogin">
      <a>Login</a>
    </li>
    <li routerLink="registration" routerLinkActive="active">
      <a>Registration</a>
    </li>
    <li routerLink="collections" routerLinkActive="active" *ngIf="!showLogin">
      <a>My collections</a>
    </li>
    <li routerLink="sort-all" routerLinkActive="active" *ngIf="!showLogin">
      <a>Sort all images</a>
    </li>
    <li *ngIf="!showLogin" (click)="logOut()" class="float-right">
      <a>Log out</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
